.border-container__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.border-container__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
