.btn-all {
  padding: 6px 25px;
  min-width: 73px;
}

.btn-web {
  padding: 6px 22px;
  min-width: 125px;
}

.btn-extra {
  padding: 6px 22px;
  min-width: 112px;
}

.btn-design {
  padding: 6px 22px;
  min-width: 103px;
}

.btn-marketing {
  padding: 6px 22px;
  min-width: 130px;
}
